html {
    height: 100%;
}

html {
    width: 100%;
}

@keyframes spinreverse {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.cloud1 {
    position: absolute;
}

.cloud1 {
    position: fixed;
}

.cloud5,
.cloud1,
[class~=cloud3],
[class~=cloud4],
[class~=cloud6],
.cloud7,
[class~=cloud2] {
    top: 50%;
}

[class~=cloud4],
.cloud1,
[class~=cloud2],
.cloud5,
[class~=cloud6],
.cloud7,
[class~=cloud3] {
    width: 150pc;
}

[class~=cloud2],
[class~=cloud3],
.cloud5,
[class~=cloud4],
.cloud1,
.cloud7,
[class~=cloud6] {
    height: 2400px;
}

[class~=cloud4],
[class~=cloud3],
.cloud7,
.cloud1,
.cloud5,
[class~=cloud2],
[class~=cloud6] {
    margin-top: -75pc;
}

.cloud5,
[class~=cloud4],
[class~=cloud2],
.cloud1,
[class~=cloud3],
[class~=cloud6],
.cloud7 {
    margin-left: -75pc;
}

.cloud1 {
    animation: spinreverse 55s infinite linear;
}

[class~=cloud2] {
    position: absolute;
}

[class~=cloud2] {
    position: fixed;
}

[class~=cloud2] {
    z-index: -1;
}

[class~=cloud2] {
    animation: spinreverse 65s infinite linear;
}

[class~=cloud3] {
    position: absolute;
}

[class~=cloud3] {
    position: fixed;
}

[class~=cloud3] {
    z-index: -2;
}

[class~=cloud3] {
    animation: spinreverse 75s infinite linear;
}

[class~=cloud4] {
    position: absolute;
}

[class~=cloud4] {
    position: fixed;
}

[class~=cloud4] {
    z-index: -3;
}

[class~=cloud4] {
    animation: spinreverse 85s infinite linear;
}

.cloud5 {
    position: absolute;
}

.cloud5 {
    position: fixed;
}

.cloud5 {
    z-index: -4;
}

.cloud5 {
    animation: spinreverse 95s infinite linear;
}

[class~=cloud6] {
    position: absolute;
}

[class~=cloud6] {
    position: fixed;
}

[class~=cloud6] {
    z-index: -5;
}

[class~=cloud6] {
    animation: spinreverse 105s infinite linear;
}

.cloud7 {
    position: absolute;
}

.cloud7 {
    position: fixed;
}

.cloud7 {
    z-index: -6;
}

.cloud7 {
    animation: spinreverse 115s infinite linear;
}

@font-face {
    font-family: fontec;
    src: url("font1337.ttf");
}

h2:before {
    content: attr(data-text);
}

h2:before {
    position: absolute;
}

h2:before {
    overflow: hidden;
}

h2:before {
    max-width: 4em;
}

h2:before {
    white-space: nowrap;
}

h1 {
    font-family: fontec;
}

h2:before {
    color: #fff;
}

h1 {
    margin-left: 0;
}

h1 {
    margin-bottom: 0;
}

h1 {
    margin-right: 0;
}

h1 {
    margin-top: 0;
}

h2:before {
    animation: loading 3s linear;
}

h1 {
    font-weight: 400;
}

h1 {
    font-size: 6em;
}

h1 {
    text-align: center;
}

h1 {
    text-shadow: 1.25px .9375pt #000;
}

h2 {
    position: relative;
}

h2 {
    color: rgba(0, 0, 0, .3);
}

h2 {
    font-size: 4em;
}

@keyframes loading {
    0% {
        max-width: 0;
    }
}

#hideMe {
    animation: cssAnimation 0s ease-in 3s forwards;
}

#hideMe {
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

[class~=loaded] #loader-wrapper [class~=loader-section][class~=section-left] {
    transform: translateX(-100%);
}

[class~=pageOverlay] {
    display: block;
}

#loader-wrapper .loader-section,
[class~=pageOverlay],
#loader-wrapper {
    position: fixed;
}

#loader-wrapper,
[class~=pageOverlay] {
    top: 0;
}

#loader-wrapper,
[class~=pageOverlay] {
    width: 100%;
}

#loader-wrapper,
[class~=pageOverlay] {
    height: 100%;
}

#loader-wrapper [class~=loader-section][class~=section-right],
#loader-wrapper .loader-section.section-left {
    background-size: 100%;
}

body {
    margin-left: 0;
}

[class~=pageOverlay] {
    z-index: 9999;
}

a:hover {
    animation-timing-function: linear;
}

[class~=loaded] #loader-wrapper [class~=loader-section][class~=section-left] {
    transition: all .8s .4s cubic-bezier(.645, .045, .355, 1);
}

#loader-wrapper .loader-section.section-left,
#loader-wrapper [class~=loader-section][class~=section-right] {
    background-color: #222;
}

[class~=loaded] #loader-wrapper [class~=loader-section][class~=section-right] {
    transform: translateX(100%);
}

[class~=pageOverlay],
#loader-wrapper .loader-section.section-left {
    left: 0;
}

body {
    margin-bottom: 0;
}

body {
    margin-right: 0;
}

body {
    margin-top: 0;
}

#loader-wrapper .loader-section.section-left,
#loader-wrapper [class~=loader-section][class~=section-right] {
    background-repeat: round;
}

[class~=pageOverlay] {
    overflow: hidden;
}

[class~=lightbox],
body {
    color: #fff;
}

#loader-wrapper {
    z-index: 1000;
}

body {
    font-style: normal;
}

body {
    font-variant: normal;
}

[class~=pageOverlay] {
    background: rgba(0, 0, 0, .2);
}

body {
    font-weight: normal;
}

body {
    font-stretch: normal;
}

[class~=lightbox] {
    text-align: center;
}

[class~=lightbox] {
    margin-left: auto;
}

body {
    font-size: 1.125pc;
}

[class~=lightbox] {
    margin-bottom: auto;
}

[class~=lightbox] {
    margin-right: auto;
}

body {
    line-height: 1.2;
}

body {
    font-size-adjust: none;
}

[class~=lightbox] {
    margin-top: auto;
}

a:hover {
    animation-name: grad;
}

[class~=lightbox] {
    position: relative;
}

body {
    font-kerning: auto;
}

[class~=lightbox] {
    top: 50%;
}

body {
    font-family: fontec, impact;
}

[class~=lightbox] {
    transform: translateY(-50%);
}

body {
    background-color: #020202;
}

[class~=lightbox] {
    padding-left: .052083333in;
}

a {
    text-decoration: none;
}

[class~=lightbox] {
    padding-bottom: .052083333in;
}

[class~=lightbox] {
    padding-right: .052083333in;
}

[class~=lightbox] {
    padding-top: .052083333in;
}

a {
    color: white;
}

a {
    font-family: FontAwesome;
}

[class~=lightbox] {
    width: 508.5pt;
}

a:hover {
    animation-duration: 1.5s;
}

a {
    font-size: 200%;
}

[class~=lightbox] {
    vertical-align: middle;
}

#loader-wrapper [class~=loader-section][class~=section-right] {
    right: 0;
}

.animate {
    animation-name: fade;
}

a {
    margin-left: .328125pc;
}

.animate {
    animation-fill-mode: both;
}

.animate {
    animation-delay: 4.05s;
}

a {
    margin-bottom: .328125pc;
}

.animate {
    animation-duration: 3s;
}

a {
    margin-right: .328125pc;
}

a {
    margin-top: .328125pc;
}

[class~=loaded] #loader-wrapper [class~=loader-section][class~=section-right] {
    transition: all .8s .4s cubic-bezier(.645, .045, .355, 1);
}

a {
    -webkit-text-stroke: .09375pc rgba(0, 0, 0, .5);
}

#loader-wrapper .loader-section {
    top: 0;
}

a {
    -webkit-text-fill-color: transparent;
}

a:hover {
    animation-iteration-count: infinite;
}

#loader-wrapper .loader-section {
    width: 50%;
}

#loader-wrapper .loader-section {
    height: 100%;
}

#loader-wrapper .loader-section {
    z-index: 1000;
}

#loader-wrapper .loader-section {
    transform: translateX(0);
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

[class~=media]>a {
    transition: color .2s ease;
}

[class~=media]>a:last-child {
    margin-right: 0;
}

[class~=media] {
    font-size: .145833333in;
}

[class~=media] {
    margin-left: -10.5pt;
}

[class~=media]>a {
    margin-right: 20px;
}

[class~=media]>a {
    text-decoration: none;
}

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

/* Pulse Shrink */
@-webkit-keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-shrink:hover, .hvr-pulse-shrink:focus, .hvr-pulse-shrink:active {
  -webkit-animation-name: hvr-pulse-shrink;
  animation-name: hvr-pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
